@page "/administration-panel/competition/{id:guid?}"

@using Bz.F8t.WebApp.ApiClients.Dtos
@using Bz.F8t.WebApp.Models

@inject NavigationManager navManager
@inject ICompetitionApi competitionApi;

<h3>Competition</h3>

<div class="alert alert-danger alert-dismissible fade @(showAlert ? "show" : "")" role="alert">
    @alertMessage
    <button type="button" class="btn-close" @onclick="CloseAlert" aria-label="Close"></button>
</div>

<EditForm Model="Model" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <InputText @bind-Value="Model.City" class="form-control" id="city" disabled="@isUpdateMode" />
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="longitute" class="form-label">Longitute</label>
                <InputNumber @bind-Value="Model.Longitute" class="form-control" id="longitute" disabled="@isUpdateMode" />
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="latitude" class="form-label">Latitude</label>
                <InputNumber @bind-Value="Model.Latitude" class="form-control" id="latitude" disabled="@isUpdateMode" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="startDate" class="form-label">Start date</label>
                <InputDate @bind-Value="Model.StartDate" class="form-control" id="startDate" disabled="@isUpdateMode" />
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="startTime" class="form-label">Start time</label>
                <input type="time" class="form-control" @bind-value="Model.StartTime" @bind-value:event="oninput" id="startTime" disabled="@isUpdateMode" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="distance" class="form-label">Distance</label>
                <InputNumber @bind-Value="Model.Distance" class="form-control" id="distance" disabled="@isUpdateMode" />
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="distanceUnit" class="form-label">Distance unit</label>
                <InputSelect @bind-Value="Model!.DistanceUnit" class="form-select" id="distanceUnit" disabled="@isUpdateMode">
                    <option value="">
                        Select unit ...
                    </option>
                    <option checked="@(Model!.DistanceUnit == "Kilometers")"
                            value="Kilometers">
                        Kilometers
                    </option>
                    <option checked="@(Model!.DistanceUnit == "Meters")"
                            value="Meters">
                        Meters
                    </option>
                </InputSelect>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="maxNumberOfCompetitors" class="form-label">Maximum number of competitors</label>
        <InputNumber @bind-Value="Model.MaxNumberOfCompetitors" class="form-control" id="maxNumberOfCompetitors" />
    </div>

    <button type="submit" class="btn btn-primary">
        <i class="bi bi-save align-middle"></i>
        <span class="align-middle">Submit</span>
    </button>

    <a href="administration-panel" class="btn btn-danger">
        <i class="bi bi-arrow-return-left align-middle"></i>
        <span class="align-middle">Back to list</span>
    </a>
</EditForm>

@code {
    private CompetitionModel Model { get; set; } = new();
    private bool isUpdateMode = false;
    private string alertMessage = string.Empty;
    private bool showAlert = false;

    [Parameter]
    public Guid? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id.HasValue)
        {
            isUpdateMode = true;
            await FetchDataAsync();
        }
        else
        {
            Model = new();
        }
    }

    private async Task FetchDataAsync()
    {
        try
        {
            var response = await competitionApi.GetCompetitionAsync(Id!.Value);
            if (response.IsSuccessStatusCode)
            {
                var competitionDto = response.Content;
                Model = CompetitionModel.FromCompetitionDto(competitionDto);
            }
            else
            {
                ShowAlert(response.Error.Message);
            }
        }
        catch (Exception ex)
        {
            ShowAlert(ex.Message);
        }
    }

    private async Task Submit()
    {
        if (!isUpdateMode)
        {
            await CreateCompetitionAsync();
        }
        else
        {
            await ChangeMaxCompetitorsAsync();
        }

        if (!showAlert)
        {
            navManager.NavigateTo("administration-panel");
        }
    }

    private async Task CreateCompetitionAsync()
    {
        try
        {
            var response = await competitionApi.CreateCompetitionAsync(Model.ToCreateCompetitionDto());
            if (!response.IsSuccessStatusCode)
            {
                ShowAlert(response.Error.Message);
            }
        }
        catch (Exception ex)
        {
            ShowAlert(ex.Message);
        }

    }

    private async Task ChangeMaxCompetitorsAsync()
    {
        try
        {
            var response = await competitionApi.ChangeMaxCompetitorsAsync(Id!.Value, new ChangeMaxCompetitorsRequestDto(Model.MaxNumberOfCompetitors));
            if (!response.IsSuccessStatusCode)
            {
                ShowAlert(response.Error.Message);
            }
        }
        catch (Exception ex)
        {
            ShowAlert(ex.Message);
        }

    }

    private void CloseAlert() => showAlert = false;

    private void ShowAlert(string message)
    {
        alertMessage = message;
        showAlert = true;
    }
}
